
<html>

    <title>Моя первая страничка</title>
    <head>
    <div id="head">
        {% block head %}
            <b>Head</b><br>
            <div id="news">
                {% block news %}<b>News</b><br>{% endblock %}
            </div>
            <div id="search">
                {% block search %}<b>Search</b><br>{% endblock %}
            </div>
        {% endblock %}
    </div>
    </head>
    <body>
    <div id="page">
        {% block page %}
            <b>Page</b><br>
            <div id="content">
                {% block content %}
                    <b>Content</b><br>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            <b>Footer</b><br>
            <div id="copyright">
                {% block copyright %}
                    <b>copyright</b><br>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    </body>
</html>