
<html>

    <title>Моя первая страничка</title>
    <head>
    {% block head %}
        <b>Head</b><br>
        {% block news %}<b>News</b><br>{% endblock %}
        {% block search %}<b>Search</b><br>{% endblock %}
    {% endblock %}
    </head>
    <body>
    {% block page %}
        <b>Page</b><br>
        {% block content %}
            <b>Content</b><br>
        {% endblock %}
    {% endblock %}

    {% block footer %}
        <b>Footer</b><br>
        {% block copyright %}
            <b>copyright</b><br>
        {% endblock %}
    {% endblock %}
    </body>
</html>